<h3 class=new_user_title>ユーザー情報を編集する</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <%= devise_error_messages! %>

  <div uk-grid class="uk-grid-small">
    <div class="uk-width-1-3">
      <div class="uk-section uk-section-xsmall">
        <p class="f_name line-height">名前</p>
      </div>
    </div>
    <div class="uk-width-2-3">
      <div class="uk-section  uk-section-xsmall">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "f_name_form uk-box-shadow-small" %>
      </div>
    </div>

    <div class="uk-width-1-3">
      <div class="uk-section uk-section-xsmall">
        <p class="f_name line-height">メールアドレス</p>
      </div>
    </div>
    <div class="uk-width-2-3">
      <div class="uk-section  uk-section-xsmall">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "f_name_form uk-box-shadow-small" %>
      </div>
    </div>

    <div class="uk-width-1-3">
      <div class="uk-section uk-section-xsmall">
        <p class="f_name line-height">現在のパスワード</p>
      </div>
    </div>
    <div class="uk-width-2-3">
      <div class="uk-section  uk-section-xsmall">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "f_name_form uk-box-shadow-small" %>
      </div>
    </div>

    <div class="uk-width-1-3">
      <div class="uk-section uk-section-xsmall">
        <p class="f_name line-height">新しいパスワード</p>
      </div>
    </div>
    <div class="uk-width-2-3">
      <div class="uk-section  uk-section-xsmall">
        <%= f.password_field :password, autocomplete: "new-password", class: "f_name_form uk-box-shadow-small" %>
      </div>
    </div>
    <div class="uk-width-1">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    </div>

    <div class="uk-width-1-3">
      <div class="uk-section uk-section-xsmall">
        <p class="f_name line-height">プロフィール用画像</p>
      </div>
    </div>
    <div class="uk-width-2-3">
      <div class="uk-section  uk-section-xsmall">
        <%= f.file_field :image, autocomplete: "image", class: "f_name_form uk-box-shadow-small" %>
      </div>
    </div>
  </div>

  <div class="btn_f">
    <%= f.submit "登 録", class: "uk-button uk-button-default uk-button-small uk-box-shadow-medium" %>
  </div>
<% end %>
