<div class="side_session_area uk-box-shadow-middle">

  <% if alert %>
    <div uk-alert class="uk-alert-primary">
      <a class="uk-alert-close" uk-close></a>
      <P><%= alert %></p>
    </div>
  <% end %>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div uk-grid >
      <div class="uk-width-2-5 ">
        <p class="f_session line-height">メールアドレス</p>
      </div>
      <div class="uk-width-3-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "f_session_form uk-box-shadow-small" %>
      </div>

      <div class="uk-width-2-5">
        <p class="f_session line-height">パスワード</p>
      </div>
      <div class="uk-width-3-5">
        <%= f.password_field :password, autocomplete: "new-password", class: "f_session_form uk-box-shadow-small" %>
      </div>
    </div>

    <div class="btn_f_session">
      <%= f.submit "ログイン", class: "uk-button uk-button-default uk-button-small uk-box-shadow-medium" %>
    </div>
  <% end %>
</div>
