<div class="f_area">
  <%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>

    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |msg| %>
        <div uk-alert class="uk-alert-danger">
          <a class="uk-alert-close" uk-close></a>
          <ul>
            <li><%= msg %></li>
          </ul>
        </div>
      <% end %>
    <% end %>

    <div uk-grid class="uk-grid-small">
      <div class="uk-width-1-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height">山 名</p>
        </div>
      </div>
      <div class="uk-width-4-5">
        <div class="uk-section  uk-section-xsmall">
          <%= form.text_field :title, class: "f_name_form uk-box-shadow-medium" %>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height ">コメント</p>
        </div>
      </div>
      <div class="uk-width-4-5">
        <div class="uk-section uk-section-xsmall">
          <%= form.text_area :content, class: "f_content_form uk-box-shadow-medium" %>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height">写 真</p>
        </div>
      </div>
      <div class="uk-width-4-5">
        <div class="uk-section uk-section-xsmall">
          <%= form.file_field :image, class: "f_image_form" %>
        </div>
      </div>
    </div>
    <div class="btn_f">
      <%= form.submit class: "uk-button uk-button-default uk-button-small uk-box-shadow-medium", value: "投 稿" %>
    </div>
  <% end %>
</div>
