<div class="f_area">
  <h3 class=confirm_title>以下の内容でよろしいですか？</h3>
  <%= form_with(model: @post, url: new_or_edit, local: true) do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache %>

    <div uk-grid class="uk-grid-small">
      <div class="uk-width-1-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height">山 名</p>
        </div>
      </div>
      <div class="uk-width-4-5">
        <div class="uk-section  uk-section-xsmall">
          <p class="f_name line-height f_confirm uk-box-shadow-medium"><%= @post.title %></p>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height">コメント</p>
        </div>
      </div>
      <div class="uk-width-4-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height f_confirm uk-box-shadow-medium"><%= @post.content %></p>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name line-height">写 真</p>
        </div>
      </div>
      <div class="uk-width-4-5">
        <div class="uk-section uk-section-xsmall">
          <p class="f_name f_confirm_image"><%= image_tag @post.image %></p>
        </div>
      </div>
    </div>
    <div class="btn_f">
      <%= form.submit class: "uk-button uk-button-default uk-button-small uk-box-shadow-medium", value: "投 稿" %>
    </div>
  <% end %>
</div>
