<% @posts.reverse_each do |post| %>
  <div class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-child-width-1-3@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <%= image_tag post.image %>
    </div>
    <div class="uk-card-body current_user_card">
      <div class="f_current_user_index">
        <p><%= post.title %></p>
        <p><%= post.content %></p>
      </div>
      <div class="icon_current_user_index">
      <a href="/posts/<%= post.id %>/edit" class="uk-icon-link" uk-icon="file-edit"></a>
      <a href="/posts/<%= post.id %>" data-method="delete" class="uk-icon-link" uk-icon="trash"></a>
      </div>
    </div>
  </div>
<% end %>
