<div class="area">
  <% if notice %>
    <div uk-alert class="uk-alert-primary">
      <a class="uk-alert-close" uk-close></a>
      <P><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div uk-alert class="uk-alert-primary">
      <a class="uk-alert-close" uk-close></a>
      <P><%= alert %></p>
    </div>
  <% end %>

  <div class="search">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, class: "f_search_form"%>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <hr>
  <% @posts.reverse_each do |post| %>
    <div class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-child-width-1-3@m uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <%= link_to image_tag(post.image), post_path(post.id) %>
      </div>
      <div class="uk-card-body">
        <%= image_tag post.user.image,  class: "uk-border-circle user_image" %>
        <span><%= post.user.username %></span>
        <br>
        <p><%= post.title %></p>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>
