<div class="area">
  <% if flash[:notice] %>
    <div uk-alert class="uk-alert-primary">
      <a class="uk-alert-close" uk-close></a>
        <P><%= flash[:notice] %></p>
      </div>
  <% end %>

  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索" %>
  <% end %>

  <hr>

  <% @posts.reverse_each do |post| %>
    <div class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-child-width-1-4@m uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <%= image_tag post.image %>
      </div>
      <div class="uk-card-body">
        <%= post.title %>
        <p>
          <a href="/posts/<%= post.id %>" class="uk-icon-link" uk-icon="forward"></a>
          <a href="/posts/<%= post.id %>/edit" class="uk-icon-link" uk-icon="file-edit"></a>
          <a href="/posts/<%= post.id %>" data-method="delete" class="uk-icon-link" uk-icon="trash"></a>
        </p>
      </div>
    </div>
  <% end %>
</div>
