<!DOCTYPE html>
<html>
  <head>
    <title>MtShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <hr id="hr">
      <h1 class="uk-heading-primary">Mt.share</h1>
      <div uk-slideshow="autoplay: true; autoplay-interval: 5000; max-height: 240">
        <ul class="uk-slideshow-items">
          <li>
            <img src="assets/P3240009.jpg" alt="" uk-cover>
          </li>
          <li>
            <img src="assets/P3240086.jpg" alt="" uk-cover>
          </li>
          <li>
            <img src="assets/P3240108.jpg" alt="" uk-cover>
          </li>
        </ul>
      </div>
      <ul class="uk-iconnav">
        <li><a href="/" class="uk-icon-link" uk-icon="icon: home; ratio: 1.2"></a></li>
        <li><a href="/posts/new" class="uk-icon-link" uk-icon="icon: pencil; ratio: 1.2"></a></li>
        <li><a href="#" class="uk-icon-link" uk-icon="icon: album; ratio: 1.2"></a></li>
        <li><a href="#" class="uk-icon-link" uk-icon="icon:  happy; ratio: 1.2"></a></li>
      </ul>
    <hr>
    </header>

    <div class="main_area">
      <div uk-grid  class="uk-grid-divider uk-grid-small">
        <aside class="uk-width-1-3@s">
          <% if user_signed_in? %>
            <%= link_to "写真投稿", posts_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <div class="btn_f_user">
            <%= link_to "新 規 登 録", new_user_registration_path, class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom uk-box-shadow-medium" %>
            </div>
            <%#= link_to "ログイン", new_user_session_path %>
            <%= yield :side %>
          <% end %>
        </aside>
        <main class="uk-width-2-3@s">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
